* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Handjet', serif;
  background: radial-gradient(circle, rgba(198, 3, 9, 0.949) 0%, rgba(53, 3, 3, 0.758) 70%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  text-align: center;
  background: rgba(39, 39, 39, 0.673);
  padding-block: 23px;
  padding-inline: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(205, 81, 81, 0.2);
  z-index: 1;
  max-width: 90%;
}

h1 {
  font-size: 40px;
  color: #fb5a4a;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out, float 3s infinite ease-in-out;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
}

.gif {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .gif {
    width: 160px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

button {
  font-family: "Handjet", serif;
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ff3b2f;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: pulse 2s infinite;
}

@media (max-width: 600px) {
  button {
    font-size: 20px;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

button:hover {
  transform: scale(1.1);
  background-color: #16f537;
}

#noBtn {
  background-color: #ed0707;
}

#noBtn:hover {
  background-color: #fe4444;
}

#responseText {
  margin-top: 10px;
  font-size: 28px;
  color: #fb5a4a;
  font-weight: bold;
}

@media (max-width: 600px) {
  #responseText {
    font-size: 22px;
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}